document.getElementById("chart").innerHTML = '';
chart_div = d3.select('#chart');
chart_div.append("div")
    .attr("id", "{{ chart_type }}_chart");

var series1 = [{% for i in series.iteritems %}{ x: new Date("{{ i.0.isoformat }}").getTime() / 1000, y: {{ i.1 }} }{% if not forloop.last %},{% endif %}{% endfor %}];

var min1 = Number.MAX_VALUE;
var max1 = Number.MIN_VALUE;
for (i = 0; i < series1.length; i++) {
    min1 = Math.min(min1, series1[i].y);
    max1 = Math.max(max1, series1[i].y);
}

var axis1 = d3.scale.linear().domain([min1, max1]);

var chart_graph = new Rickshaw.Graph( {
    element: document.getElementById("{{ chart_type }}_chart"),
    height: 200,
    renderer: 'line',
    series: [
        {
            color: "#ff9030",
            data: series1,
            name: "{{ chart_type }}",
            scale: axis1
        }
            ]
});

new Rickshaw.Graph.Axis.Time({
    graph: chart_graph,
    timeFixture: new Rickshaw.Fixtures.Time.Local()
});

new Rickshaw.Graph.HoverDetail({
    graph: chart_graph,
    formatter: function(series, x, y) {
        var date = '<span class="date">' + new Date(x * 1000).toUTCString() + '</span>';
        var content = series.name + ": " + Math.round(100 * parseFloat(y)) / 100 + '<br>' + date;
        return content;
    }
});

chart_graph.render()
